@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
 
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Start Header*/
header{
    background-color: #0A0C10;
}

nav{
    /*border: 2px solid white;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-left: 40px;

}
 
.h1-title{
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
}

.menu{
    /*border: 2px solid aquamarine;*/
    display: flex;
    list-style: none;
    /*width: 500px;*/

}


li{
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.Team{
    text-align: center;
    color: aliceblue;
}

.main-content{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    }
    
    .box{
        background-color: aliceblue;
        padding: 20px;
        margin: 30px 0px;
    }
    
.images {
        width:100%
    }

.button{
        color: rgb(255, 255, 255);
        background-color: #000000;
        padding: 8px 24px;
        border-radius: 30px;
        display: inline-block;
        justify-content: space-between;
        
    }
    
   
    .text-param{
        font-weight: 500;
    }
    
    .Pricing-box {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin: auto;
    }
    
    .Pricing-box1{
        text-align: center;
        justify-content: space-between;
        box-shadow: 0px 0px 8px 2px #000000;
        width: 30%;
        height: 500px;
        padding: 20px;
        border: 1px solid #695c5c(0 , 0 , 0);
        border-radius: 20px;
        list-style: none;
        font-size: small;
    }
    
    .Pricing-box2 {
        text-align: center;
        justify-content: space-between;
        box-shadow: 0px 0px 8px 2px #000000;
        width: 30%;
        height: 500px;
        padding: 20px;
        border: 1px solid #695c5c(0 , 0 , 0);
        border-radius: 20px;
        list-style: none;
        font-size: small;
    }
    
    .Pricing-box3 {
        text-align: center;
        justify-content: space-between;
        box-shadow: 0px 0px 8px 2px #000000;
        width: 30%;
        height: 500px;
        padding: 20px;
        border: 1px solid #695c5c(0 , 0 , 0);
        border-radius: 20px;
        list-style: none;
        font-size: small;
    }


    footer{
        background-color: #110202;
    }